<div class="text-center">
  <i class="fa " [ngClass]="{'d-flex justify-content-center': isLoading1}" style="font-size:46px;"></i>

  <i class="fa loader" [ngClass]="{'fa-spin fa-spinner': isLoading1}" style="font-size:46px;"></i>
</div>
<div class="card" *ngIf="!isLoading1">
  <div class="card-header">
    <h5>Development Cost Details</h5>
  </div>

  <form [formGroup]="angForm">
    <div class="card-block">
      <div class="row" style="margin: 1%;">
        <div class="col-sm-2" *ngIf="showBranch">
          <label>Select Branch <sub class="required">* </sub></label>
        </div>
        <div class="col-sm-2" *ngIf="showBranch">
          <div class="form-group form-primary form-static-label">
            <span class="border-lable-flt">
              <ng-select id="BRANCH_NAME" bindValue="CODE" bindLabel="NAME" #BRANCH_NAME [(ngModel)]="selectedBrach"
                formControlName="BRANCH_NAME" (focus)="onFocus(BRANCH_NAME)" [selectOnTab]='true' [required]="BRANCH">
                <ng-option *ngFor="let values of branch" [value]="values">
                  {{values.NAME}}</ng-option>
              </ng-select>
            </span>
          </div>
        </div>
        <!-- </div>
      <div class="form-group row justify-content-md-center" style="margin: 1%;"> -->
        <div class="col-sm-2">
          <label>Select Dates <sub class="required">* </sub></label>
        </div>
        <div class="col-sm-2">
          <div class="form-group input-group">
            <span class="border-lable-flt">
              <input type="text" placeholder="dd/mm/yyyy" name="fdate" id="fdate" class="form-control"
                (focus)="onFocus(FROM)" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'}" [(ngModel)]="fromdate"
                [maxDate]="maxDate" bsDatepicker formControlName="FROM" required style="max-width: 100px;">
            </span>
          </div>
          <div class="form-group form-primary form-static-label"
            *ngIf="angForm.controls['FROM'].invalid && (angForm.controls['FROM'].dirty || angForm.controls['FROM'].touched)"
            class="alert alert-danger">
            <div *ngIf="angForm.controls['FROM'].errors?.required">
              This field is required
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group input-group">
            <span class="border-lable-flt">
              <input type="text" placeholder="dd/mm/yyyy" name="tdate" id="tdate" class="form-control"
                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'}" [minDate]="fromdate" [(ngModel)]="todate" bsDatepicker
                formControlName="TO" required style="max-width: 100px;">
            </span>
          </div>
          <div class="form-group form-primary form-static-label"
            *ngIf="angForm.controls['TO'].invalid && (angForm.controls['TO'].dirty || angForm.controls['TO'].touched)"
            class="alert alert-danger">
            <div *ngIf="angForm.controls['TO'].errors?.required">
              This field is required
            </div>
          </div>
        </div>
        <!-- </div>
      <div class="form-group row justify-content-md-center" style="margin: 1%;"> -->
        <div class="col-sm">
          <button class="btn btn-primary sm" [disabled]="isLoading" (click)="loadData()">Go <i class="fa"
              [ngClass]="{'fa-spin fa-spinner': isLoading}"></i></button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="row" id="r1" style="margin-top: 20px;margin-bottom: 20px;" *ngIf="showtable">
  <div class="col-12">
    <div class="table-responsive">
      <div class="table-fixed">
        <div class="card">
          <div class="card-block">
            <table class="table table-striped table-bordered table-hover compact marginTable">
              <thead style="position: sticky; top: 0; text-align: center;">
                <tr>                               
                </tr>                              
                <th colspan="8">
                    <div class="search-container">
                        <input type="text" [(ngModel)]="searchQuery" (input)="filterData()" placeholder="Search...">
                    </div>
                </th>
                <tr>
                  <th class="td_left">Customer Name</th>
                  <th class="td_left">Part Name</th>
                  <th class="td_Right">Development P.O.No/Referance</th>
                  <th class="td_right">Approved Development Cost In INR</th>
                  <th class="td_left">1st 50% Debit Note/Invoice No.</th>
                  <th class="td_left">Balance 50% Debit Note/Invoice No.</th>
                  <th class="td_right">Development Cost Received In INR</th>
                  <th class="td_right">Balanced D.C. In INR to be Received</th>
                </tr>
              </thead>
              <tbody *ngIf="Tabledata.length !=0">
                <tr *ngFor="let data of Tabledata;let indexOfelement = index">
                  <td class="td_left">{{data?.CUSTOMER_NAME}}</td>
                  <td class="td_left"> {{data?.MAT_NAME}}</td>
                  <td class="td_right">{{data?.PO_NO}}</td>
                  <td class="td_right">{{data?.ORDER_AMT}}</td>
                  <td class="td_left">{{data?.PROFORMA_INV_DETAILS}}</td>
                  <td class="td_left">{{data?.SALE_INV_DETAILS}}</td>
                  <td class="td_right">{{data?.INVOICE_AMT}}</td>
                  <td class="td_right">{{data?.DIFF_AMT}}</td>
                </tr>
              </tbody>
              <tbody *ngIf="Tabledata.length ==0">
                <tr>
                  <td>No Data</td>
                </tr>
              </tbody>

              <div class="row" id="r1" style="margin-top: 20px;margin-bottom: 20px;" *ngIf="showtable"></div>
                 <div class="col-12"></div>
                  <div class="table-responsive"></div>
                    <div class="table-fixed"></div>
                      <div class="card"></div>
                        <div class="card-block"></div> 
              <tfoot style="position: sticky; bottom: 0; text-align: center;">
                <tr>
                  <th class="td_left">Total</th>
                  <th class="td_left"> </th>
                  <th class="td_right"></th>
                  <th class="td_right">{{totalDevelopmentCost}}</th>
                  <th class="td_left"></th>
                  <th class="td_left"></th>
                  <th class="td_right">{{totalDevelopmentCostReceived}}</th>
                  <th class="td_right">{{totalBalanceDcinReceived}}</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
