<div class="text-center">
  <i class="fa " [ngClass]="{'d-flex justify-content-center': isLoading1}" style="font-size:46px;"></i>

  <i class="fa loader" [ngClass]="{'fa-spin fa-spinner': isLoading1}" style="font-size:46px;"></i>
</div>
<div class="card" *ngIf="!isLoading1">
  <div class="card-header">
    <h5 (click)="reload()">Enquiry Register</h5>
  </div>
  <form [formGroup]="angForm">
    <div class="card-block">
      <div class="row" style="margin: 1%;">
        <div class="col-sm-2" *ngIf="showBranch">
          <label>Select Branch <sub class="required"> * </sub></label>
        </div>
        <div class="col-sm-2" *ngIf="showBranch">
          <div class="form-group form-primary form-static-label">
            <span class="border-lable-flt">
              <ng-select id="BRANCH_NAME" bindValue="CODE" bindLabel="NAME" #BRANCH_NAME [(ngModel)]="selectedBrach"
                formControlName="BRANCH_NAME" (focus)="onFocus(BRANCH_NAME)" [selectOnTab]='true' [required]="BRANCH">
                <ng-option *ngFor="let values of branch" [value]="values">
                  {{values.NAME}}</ng-option>
              </ng-select>
            </span>
          </div>
        </div>
        <div class="col-sm-2">
          <label>Select Financial Year <sub class="required">* </sub></label>
        </div>
        <div class="col-sm-2">
          <div class="form-group form-primary form-static-label">
            <span class="border-lable-flt">
              <ng-select id="YEAR_NAME" bindValue="DATEVALUE" bindLabel="DATEDESC" required #YEAR_NAME autofocus
                [(ngModel)]="selectedYear" formControlName="YEAR_NAME" (focus)="onFocus(YEAR_NAME)"
                [selectOnTab]='true'>
                <ng-option *ngFor="let values of finyear" [value]="values">
                  {{values.DATEDESC}}</ng-option>
              </ng-select>
            </span>
          </div>
        </div>
        <div class="col-sm-2">
          <label>Select Month <sub class="required">* </sub></label>
        </div>
        <div class="col-sm-2">
          <div class="form-group form-primary form-static-label">
            <span class="border-lable-flt">
              <ng-select id="MONTH_NAME" bindValue="DateValue" bindLabel="DateDesc" required #MONTH_NAME
                [(ngModel)]=" selectedMonth" formControlName="MONTH_NAME" (focus)="onFocus(MONTH_NAME)"
                [selectOnTab]='true'>
                <ng-option *ngFor="let values of month" [value]="values">
                  {{values.DateDesc}}</ng-option>
              </ng-select>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group row justify-content-md-center">
        <div class="col-sm-1">
          <button class="btn btn-primary sm" [disabled]="isLoading" (click)="loadData()">Go <i class="fa"
              [ngClass]="{'fa-spin fa-spinner': isLoading}"></i></button>
        </div>
      </div>
    </div>
  </form>

  <!-- <tbody *ngIf="Tabledata.length ==0">
      <tr>
        <td>No Data</td>
      </tr>
    </tbody> -->

  <div class="row" id="r1" style="margin-top: 20px;margin-bottom: 20px;" *ngIf="showtable">
    <div class="col-12">
      <div class="table-responsive">
        <div class="table-fixed">
          <div class="card">
            <div class="card-block">
              <table class="table table-striped table-bordered table-hover compact marginTable">
                <thead style="position: sticky; top: 0; text-align: center;">

                  <tr>
                  </tr>
                  <th colspan="10">
                    <div class="search-container">
                      <input type="text" [(ngModel)]="searchQuery" (input)="filterData()" placeholder="Search...">
                    </div>
                  </th>
                  <tr>
                    <!-- <th class="td_left" *ngFor="let column of tableColumns">
                      {{ column }}
                      <div class="filter-container">
                        <div class="filter-toggle" (click)="toggleFilter(column)">
                          <span class="tnb-icon fa fa-caret-down" aria-hidden="true"></span> 
                        </div>
                        <div class="filter-options" [ngClass]="{'show-filter-options': isFilterOpen[column]}">
                          <div class="filter-option" (click)="applyFilter(column, 'Option 1')">Filter</div>
                          <div class="input-box" [class.show-input]="isFilterInputOpen[column]">
                            <input type="text" placeholder=" " (blur)="toggleFilterInput(column)">
                          </div>
                        </div>
                      </div>
                    </th>
                    </tr> -->
                    <th class="td_right">Sr.No.
                      <div class="filter-container">
                        <div class="filter-toggle" (click)="toggleFilter('SrNo')">
                          <span class="tnb-icon fa fa-caret-down" aria-hidden="true"></span>
                        </div>
                        <div class="filter-options" [ngClass]="{'show-filter-options': isFilterOpen['SrNo']}">
                          <div class="filter-option" (click)="applyFilter('SrNo', 'Option 1')">Filter</div>
                          <div class="input-box" [class.show-input]="isFilterInputOpen['SrNo']">
                            <input type="text" placeholder=" " (blur)="toggleFilterInput('SrNo')">
                          </div>
                        </div>
                      </div>
                    </th>
                    <th class="td_left">Enquiry Number
                      <div class="filter-container">
                        <div class="filter-toggle" (click)="toggleFilter('EnquiryNumber')">
                          <span class="tnb-icon fa fa-caret-down" aria-hidden="true"></span>
                        </div>
                        <div class="filter-options" [ngClass]="{'show-filter-options': isFilterOpen['EnquiryNumber']}">
                          <div class="filter-option" (click)="applyFilter('EnquiryNumber', 'Option 1')">Filter</div>
                          <div class="input-box" [class.show-input]="isFilterInputOpen['EnquiryNumber']">
                            <input type="text" placeholder=" " (blur)="toggleFilterInput('EnquiryNumber')">
                          </div>
                        </div>
                      </div>
                    </th>
                    <th>Date
                      <div class="filter-container">
                        <div class="filter-toggle" (click)="toggleFilter('Date')">
                          <span class="tnb-icon fa fa-caret-down" aria-hidden="true"></span>
                        </div>
                        <div class="filter-options" [ngClass]="{'show-filter-options': isFilterOpen['Date']}">
                          <div class="filter-option" (click)="applyFilter('Date', 'Option 1')">Filter</div>
                          <div class="input-box" [class.show-input]="isFilterInputOpen['Date']">
                            <input type="text" placeholder=" " (blur)="toggleFilterInput('Date')">
                          </div>
                        </div>
                      </div>
                    </th>
                    <th class="td_left">Customer
                      <div class="filter-container">
                        <div class="filter-toggle" (click)="toggleFilter('Customer')">
                          <span class="tnb-icon fa fa-caret-down" aria-hidden="true"></span>
                        </div>
                        <div class="filter-options" [ngClass]="{'show-filter-options': isFilterOpen['Customer']}">
                          <div class="filter-option" (click)="applyFilter('Customer', 'Option 1')">Filter</div>
                          <div class="input-box" [class.show-input]="isFilterInputOpen['Customer']">
                            <input type="text" placeholder=" " (blur)="toggleFilterInput('Customer')">
                          </div>
                        </div>
                      </div>
                    </th>
                    <th class="td_left">RFQ.No./Ref.
                      <div class="filter-container">
                        <div class="filter-toggle" (click)="toggleFilter('RFQNoRef')">
                          <span class="tnb-icon fa fa-caret-down" aria-hidden="true"></span>
                        </div>
                        <div class="filter-options" [ngClass]="{'show-filter-options': isFilterOpen['RFQNoRef']}">
                          <div class="filter-option" (click)="applyFilter('RFQNoRef', 'Option 1')">Filter</div>
                          <div class="input-box" [class.show-input]="isFilterInputOpen['RFQNoRef']">
                            <input type="text" placeholder=" " (blur)="toggleFilterInput('RFQNoRef')">
                          </div>
                        </div>
                      </div>
                    </th>
                    <th class="td_left">Material
                      <div class="filter-container">
                        <div class="filter-toggle" (click)="toggleFilter('Material')">
                          <span class="tnb-icon fa fa-caret-down" aria-hidden="true"></span>
                        </div>
                        <div class="filter-options" [ngClass]="{'show-filter-options': isFilterOpen['Material']}">
                          <div class="filter-option" (click)="applyFilter('Material', 'Option 1')">Filter</div>
                          <div class="input-box" [class.show-input]="isFilterInputOpen['Material']">
                            <input type="text" placeholder=" " (blur)="toggleFilterInput('Material')">
                          </div>
                        </div>
                      </div>
                    </th>
                    <th class="td_left">Part Code
                      <div class="filter-container">
                        <div class="filter-toggle" (click)="toggleFilter('PartCode')">
                          <span class="tnb-icon fa fa-caret-down" aria-hidden="true"></span>
                        </div>
                        <div class="filter-options" [ngClass]="{'show-filter-options': isFilterOpen['PartCode']}">
                          <div class="filter-option" (click)="applyFilter('PartCode', 'Option 1')">Filter</div>
                          <div class="input-box" [class.show-input]="isFilterInputOpen['PartCode']">
                            <input type="text" placeholder=" " (blur)="toggleFilterInput('PartCode')">
                          </div>
                        </div>
                      </div>
                    </th>
                    <th class="td_right">Oty
                      <div class="filter-container">
                        <div class="filter-toggle" (click)="toggleFilter('Oty')">
                          <span class="tnb-icon fa fa-caret-down" aria-hidden="true"></span>
                        </div>
                        <div class="filter-options" [ngClass]="{'show-filter-options': isFilterOpen['Oty']}">
                          <div class="filter-option" (click)="applyFilter('Oty', 'Option 1')">Filter</div>
                          <div class="input-box" [class.show-input]="isFilterInputOpen['Oty']">
                            <input type="text" placeholder=" " (blur)="toggleFilterInput('Oty')">
                          </div>
                        </div>
                      </div>
                    </th>
                    <th class="td_left">Remark
                      <div class="filter-container">
                        <div class="filter-toggle" (click)="toggleFilter('Remark')">
                          <span class="tnb-icon fa fa-caret-down" aria-hidden="true"></span>
                        </div>
                        <div class="filter-options" [ngClass]="{'show-filter-options': isFilterOpen['Remark']}">
                          <div class="filter-option" (click)="applyFilter('Remark', 'Option 1')">Filter</div>
                          <div class="input-box" [class.show-input]="isFilterInputOpen['Remark']">
                            <input type="text" placeholder=" " (blur)="toggleFilterInput('Remark')">
                          </div>
                        </div>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody *ngIf="Tabledata.length !=0">
                  <tr *ngFor="let data of Tabledata;let indexOfelement = index">
                    <td class="td_right">{{data?.SR_NO}}</td>
                    <td class="td_left"> {{data?.TRAN_NO}}</td>
                    <td>{{data?.TRAN_DATE}}</td>
                    <td class="td_left">{{data?.CUSTOMER_NAME}}</td>
                    <td class="td_left">{{data?.QUOT_TRANNO }}</td>
                    <td class="td_left">{{data?.MATERIAL_NAME}}</td>
                    <td class="td_left">{{data?.PART_CODE}}</td>
                    <td class="td_right">{{data?.QTY}}</td>
                    <td class="td_left">{{data?.SHORT_NARRTN}}</td>


                    <!-- <td  class="td_left">{{data?.SALE_INV_DETAILS}}</td>
                      <td class="td_right">{{data?.INVOICE_AMT}}</td>
                      <td class="td_right">{{data?.DIFF_AMT}}</td> -->
                  </tr>
                </tbody>
                <tbody *ngIf="Tabledata.length ==0">
                  <tr>
                    <td>No Data</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>