<div class="text-center">
  <i class="fa " [ngClass]="{'d-flex justify-content-center': isLoading1}" style="font-size:46px;"></i>

  <i class="fa loader" [ngClass]="{'fa-spin fa-spinner': isLoading1}" style="font-size:46px;"></i>
</div>
<div class="card" *ngIf="!isLoading1">
  <div class="card-header">
    <h5 (click)="reload()">Enquiry Register</h5>
  </div>
  <form [formGroup]="angForm">
    <div class="card-block">
      <div class="row" style="margin: 1%;">
        <div class="col-sm-2" *ngIf="showBranch">
          <label>Select Branch <sub class="required"> * </sub></label>
        </div>
        <div class="col-sm-2" *ngIf="showBranch">
          <div class="form-group form-primary form-static-label">
            <span class="border-lable-flt">
              <ng-select id="BRANCH_NAME" bindValue="CODE" bindLabel="NAME" #BRANCH_NAME [(ngModel)]="selectedBrach"
                formControlName="BRANCH_NAME" (focus)="onFocus(BRANCH_NAME)" [selectOnTab]='true' [required]="BRANCH">
                <ng-option *ngFor="let values of branch" [value]="values">
                  {{values.NAME}}</ng-option>
              </ng-select>
            </span>
          </div>
        </div>
        <div class="col-sm-2">
          <label>Select Financial Year <sub class="required">* </sub></label>
        </div>
        <div class="col-sm-2">
          <div class="form-group form-primary form-static-label">
            <span class="border-lable-flt">
              <ng-select id="YEAR_NAME" bindValue="DATEVALUE" bindLabel="DATEDESC" required #YEAR_NAME
                [(ngModel)]="selectedYear" formControlName="YEAR_NAME" (focus)="onFocus(YEAR_NAME)"
                [selectOnTab]='true'>
                <ng-option *ngFor="let values of finyear" [value]="values">
                  {{values.DATEDESC}}</ng-option>
              </ng-select>
            </span>
          </div>
        </div>
        <div class="col-sm-2">
          <label>Select Month <sub class="required">* </sub></label>
        </div>
        <div class="col-sm-2">
          <div class="form-group form-primary form-static-label">
            <span class="border-lable-flt">
              <ng-select id="MONTH_NAME" bindValue="DateValue" bindLabel="DateDesc" required #MONTH_NAME
                [(ngModel)]=" selectedMonth" formControlName="MONTH_NAME" (focus)="onFocus(MONTH_NAME)"
                [selectOnTab]='true'>
                <ng-option *ngFor="let values of month" [value]="values">
                  {{values.DateDesc}}</ng-option>
              </ng-select>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group row justify-content-md-center">
        <div class="col-sm-1">
          <button class="btn btn-primary sm" [disabled]="isLoading" (click)="loadData()">Go <i class="fa"
              [ngClass]="{'fa-spin fa-spinner': isLoading}"></i></button>
        </div>
      </div>
    </div>
  </form>

  <!-- <tbody *ngIf="Tabledata.length ==0">
      <tr>
        <td>No Data</td>
      </tr>
    </tbody> -->

  <div class="row" id="r1" style="margin-top: 20px;margin-bottom: 20px;" *ngIf="showtable">
    <div class="col-12">
      <div class="table-responsive">
        <div class="table-fixed">
          <div class="card">
            <div class="card-block">
              <table class="table table-striped table-bordered table-hover compact">
                <thead style="position: sticky; top: 0; text-align: center;">
                  <tr>
                    <th class="td_left">Sr.No.</th>
                    <th class="td_right">Enquiry Number</th>
                    <th class="td_right">Date</th>
                    <th class="td_right">Customer</th>
                    <th class="td_right">Part Name</th>
                    <th class="td_right">Material</th>
                    <th class="td_right">Oty.</th>
                    <th class="td_right">Remark</th>
                  </tr>
                </thead>
                <tbody *ngIf="Tabledata.length !=0">
                  <tr *ngFor="let data of Tabledata;let indexOfelement = index">
                    <td class="td_left">{{data?.SR_NO}}</td>
                    <td class="td_right"> {{data?.TRAN_NO}}</td>
                    <td class="td_right">{{data?.TRAN_DATE}}</td>
                    <td class="td_left">{{data?.CUSTOMER_NAME}}</td>
                    <td class="td_left">{{data?.QUOT_TRANNO }}</td>
                    <td class="td_left">{{data?.MATERIAL_NAME}}</td>
                    <td class="td_left">{{data?.PART_CODE}}</td>
                    <td class="td_left">{{data?.QTY}}</td>
                    <td class="td_left">{{data?.SHORT_NARRTN}}</td>


                    <!-- <td  class="td_left">{{data?.SALE_INV_DETAILS}}</td>
                      <td class="td_right">{{data?.INVOICE_AMT}}</td>
                      <td class="td_right">{{data?.DIFF_AMT}}</td> -->
                  </tr>
                </tbody>
                <tbody *ngIf="Tabledata.length ==0">
                  <tr>
                    <td>No Data</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>