<div class="text-center">
    <i class="fa " [ngClass]="{'d-flex justify-content-center': isLoading1}" style="font-size:46px;"></i>
    <i class="fa loader" [ngClass]="{'fa-spin fa-spinner': isLoading1}" style="font-size:46px;"></i>
</div>
<div class="card" *ngIf="!isLoading1">
    <div class="card-header">
        <h5>Purchase Tonnage</h5>
    </div>
    <form [formGroup]="angForm">
        <div class="card-block">
            <div class="row" style="margin: 1%;">
                <div class="col-sm-2" *ngIf="showBranch">
                    <label>Select Branch <sub class="required"> * </sub></label>
                </div>
                <div class="col-sm-2" *ngIf="showBranch">
                    <div class="form-group form-primary form-static-label">
                        <span class="border-lable-flt">
                            <ng-select id="BRANCH_NAME" bindValue="CODE" bindLabel="NAME" #BRANCH_NAME
                                [(ngModel)]="selectedBrach" formControlName="BRANCH_NAME" (focus)="onFocus(BRANCH_NAME)"
                                [selectOnTab]='true' [required]="BRANCH">
                                <ng-option *ngFor="let values of branch" [value]="values">
                                    {{values.NAME}}</ng-option>
                            </ng-select>
                        </span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label>Select Dates <sub class="required">* </sub></label>
                </div>
                <div class="col-sm-2">
                    <div class="form-group input-group">
                        <span class="border-lable-flt">
                            <input type="text" placeholder="dd/mm/yyyy" name="fdate" id="fdate" class="form-control"
                                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'}" [(ngModel)]="fromdate" [maxDate]="maxDate"
                                formControlName="FROM" required bsDatepicker style="max-width: 100px;" #fdateInput>
                        </span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group input-group">
                        <span class="border-lable-flt">
                            <input type="text" placeholder="dd/mm/yyyy" name="tdate" id="tdate" class="form-control"
                                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'}" [(ngModel)]="todate" formControlName="TO"
                                required bsDatepicker style="max-width: 100px;">
                        </span>
                    </div>
                </div>
            </div>

            <!-- </div>-->
            <div class="row" style="margin: 1%;">
                <div class="col-sm-2">
                    <label>Supplier Category <sub class="required"> * </sub></label>
                </div>
                <div class="col-sm">
                    <div class="form-group form-primary form-static-label">
                        <span class="border-lable-flt">
                            <ng-select id="SUPPLIERCATEGORY" bindValue="CODE" bindLabel="NAME" required
                                [(ngModel)]="selectedCategory" #SUPPLIERCATEGORY (focus)="onFocus(SUPPLIERCATEGORY)"
                                [selectOnTab]='true' formControlName="SUPPLIERCATEGORY">
                                <ng-option *ngFor="let values of suppliCate" [value]="values">
                                    {{values.NAME}}</ng-option>
                            </ng-select>
                        </span>
                    </div>
                </div>

                <div class="col-sm-2">
                    <label>Select Supplier <sub class="required"> * </sub></label>
                </div>
                <div class="col-sm">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="SUPPLIER" id="inlineRadio1" value="0"
                            formControlName="SUPPLIER" (change)="check(0)">
                        <label class="form-check-label" for="inlineRadio1">All Supplier</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="SUPPLIER" id="inlineRadio2" value="1"
                            formControlName="SUPPLIER" (change)="check(1)">
                        <label class="form-check-label" for="inlineRadio2">Selected Supplier</label>
                    </div>
                </div>
            </div>
            <div class="form-group row justify-content-md-center">
                <div class="col-sm text-center">
                    <button class="btn btn-primary sm" [disabled]="isLoading" (click)="loadData()">Go <i class="fa"
                            [ngClass]="{'fa-spin fa-spinner': isLoading}"></i></button>
                </div>
            </div>
        </div>
    </form>
    <div class="row" id="r1" style="margin-top: 20px;margin-bottom: 20px;" *ngIf="showtable">
        <div class="col-12">
            <div class="table-responsive">
                <div class="table-fixed">
                    <div class="card">
                        <div class="card-block">
                            <table class="table table-striped table-bordered table-hover compact">
                                <thead style="position: sticky; top: 0; text-align: center;">



                                    <tr>
                                        <th class="td_right"></th>
                                        <th class="td_left">Supplier Name</th>

                                    </tr>
                                </thead>
                                <tbody *ngIf="Tabledata.length !=0">
                                    <tr *ngFor="let data of Tabledata ; let indexOfelement = index">
                                        <td class="td_right"><input type="checkbox" value="{{data.SUB_GLACNO}}"
                                                [(ngModel)]="data.checked" id="indexOfelement"></td>
                                        <td class="td_left">{{data.SUBGL_LONGNAME}}</td>

                                    </tr>
                                <tbody *ngIf="Tabledata.length ==0">
                                    <td>No Data</td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="r1" style="margin-top: 20px;margin-bottom: 20px;" *ngIf="showtable1">
        <div class="col-12">
            <div class="table-responsive">
                <div class="table-fixed">
                    <div class="card">
                        <div class="card-block">
                            <table class="table table-striped table-bordered table-hover compact marginTable">
                                <thead style="position: sticky; top: 0; text-align: center;">

                                    <tr>
                                    </tr>
                                    <th colspan="12">
                                        <div class="search-container">
                                            <input type="text" [(ngModel)]="searchQuery" (input)="filterData()"
                                                placeholder="Search...">
                                        </div>
                                    </th>
                                    <tr>
                                        <th class="td_left">Supplier Name
                                            <div class="filter-container">
                                                <div class="filter-toggle" (click)="toggleFilter('SupplierName')">
                                                  <span class="tnb-icon fa fa-caret-down" aria-hidden="true"></span> 
                                                </div>
                                                <div class="filter-options" [ngClass]="{'show-filter-options': isFilterOpen['SupplierName']}">
                                                  <div class="filter-option" (click)="applyFilter('SupplierName', 'Option 1')">Filter</div>
                                                  <div class="input-box" [class.show-input]="isFilterInputOpen['SupplierName']">
                                                    <input type="text" placeholder=" " (blur)="toggleFilterInput('SupplierName')">
                                                  </div>
                                                </div>
                                              </div>
                                        </th>
                                        <th class="td_right"> Purchase Qty
                                            <div class="filter-container">
                                                <div class="filter-toggle" (click)="toggleFilter('PurchaseQty')">
                                                  <span class="tnb-icon fa fa-caret-down" aria-hidden="true"></span> 
                                                </div>
                                                <div class="filter-options" [ngClass]="{'show-filter-options': isFilterOpen['PurchaseQty']}">
                                                  <div class="filter-option" (click)="applyFilter('PurchaseQty', 'Option 1')">Filter</div>
                                                  <div class="input-box" [class.show-input]="isFilterInputOpen['PurchaseQty']">
                                                    <input type="text" placeholder=" " (blur)="toggleFilterInput('PurchaseQty')">
                                                  </div>
                                                </div>
                                              </div>  
                                        </th>
                                        <th class="td_right"> Purchase Weight
                                            <div class="filter-container">
                                                <div class="filter-toggle" (click)="toggleFilter('PurchaseWeight')">
                                                  <span class="tnb-icon fa fa-caret-down" aria-hidden="true"></span> 
                                                </div>
                                                <div class="filter-options" [ngClass]="{'show-filter-options': isFilterOpen['PurchaseWeight']}">
                                                  <div class="filter-option" (click)="applyFilter('PurchaseWeight', 'Option 1')">Filter</div>
                                                  <div class="input-box" [class.show-input]="isFilterInputOpen['PurchaseWeight']">
                                                    <input type="text" placeholder=" " (blur)="toggleFilterInput('PurchaseWeight')">
                                                  </div>
                                                </div>
                                              </div>    
                                        </th>
                                        <th class="td_right"> Purchase Amt
                                            <div class="filter-container">
                                                <div class="filter-toggle" (click)="toggleFilter('PurchaseAmt')">
                                                  <span class="tnb-icon fa fa-caret-down" aria-hidden="true"></span> 
                                                </div>
                                                <div class="filter-options" [ngClass]="{'show-filter-options': isFilterOpen['PurchaseAmt']}">
                                                  <div class="filter-option" (click)="applyFilter('PurchaseAmt', 'Option 1')">Filter</div>
                                                  <div class="input-box" [class.show-input]="isFilterInputOpen['PurchaseAmt']">
                                                    <input type="text" placeholder=" " (blur)="toggleFilterInput('PurchaseAmt')">
                                                  </div>
                                                </div>
                                              </div>    
                                        </th>
                                        <th class="td_right"> Rate Diff Amt
                                            <div class="filter-container">
                                                <div class="filter-toggle" (click)="toggleFilter('RateDiffAmt')">
                                                  <span class="tnb-icon fa fa-caret-down" aria-hidden="true"></span> 
                                                </div>
                                                <div class="filter-options" [ngClass]="{'show-filter-options': isFilterOpen['RateDiffAmt']}">
                                                  <div class="filter-option" (click)="applyFilter('RateDiffAmt', 'Option 1')">Filter</div>
                                                  <div class="input-box" [class.show-input]="isFilterInputOpen['RateDiffAmt']">
                                                    <input type="text" placeholder=" " (blur)="toggleFilterInput('RateDiffAmt')">
                                                  </div>
                                                </div>
                                              </div>    
                                        </th>
                                        <th class="td_right"> Total Purchase Amt
                                            <div class="filter-container">
                                                <div class="filter-toggle" (click)="toggleFilter('TotalPurchaseAmt')">
                                                  <span class="tnb-icon fa fa-caret-down" aria-hidden="true"></span> 
                                                </div>
                                                <div class="filter-options" [ngClass]="{'show-filter-options': isFilterOpen['TotalPurchaseAmt']}">
                                                  <div class="filter-option" (click)="applyFilter('TotalPurchaseAmt', 'Option 1')">Filter</div>
                                                  <div class="input-box" [class.show-input]="isFilterInputOpen['TotalPurchaseAmt']">
                                                    <input type="text" placeholder=" " (blur)="toggleFilterInput('TotalPurchaseAmt')">
                                                  </div>
                                                </div>
                                              </div>     
                                        </th>
                                        <th class="td_right"> Rejection Qty
                                            <div class="filter-container">
                                                <div class="filter-toggle" (click)="toggleFilter('RejectionQty')">
                                                  <span class="tnb-icon fa fa-caret-down" aria-hidden="true"></span> 
                                                </div>
                                                <div class="filter-options" [ngClass]="{'show-filter-options': isFilterOpen['RejectionQty']}">
                                                  <div class="filter-option" (click)="applyFilter('RejectionQty', 'Option 1')">Filter</div>
                                                  <div class="input-box" [class.show-input]="isFilterInputOpen['RejectionQty']">
                                                    <input type="text" placeholder=" " (blur)="toggleFilterInput('RejectionQty')">
                                                  </div>
                                                </div>
                                              </div>      
                                        </th>
                                        <th class="td_right"> Rejection Weight
                                            <div class="filter-container">
                                                <div class="filter-toggle" (click)="toggleFilter('RejectionWeight')">
                                                  <span class="tnb-icon fa fa-caret-down" aria-hidden="true"></span> 
                                                </div>
                                                <div class="filter-options" [ngClass]="{'show-filter-options': isFilterOpen['RejectionWeight']}">
                                                  <div class="filter-option" (click)="applyFilter('RejectionWeight', 'Option 1')">Filter</div>
                                                  <div class="input-box" [class.show-input]="isFilterInputOpen['RejectionWeight']">
                                                    <input type="text" placeholder=" " (blur)="toggleFilterInput('RejectionWeight')">
                                                  </div>
                                                </div>
                                              </div>
                                            </th>
                                        <th class="td_right"> Rejection Amt
                                            <div class="filter-container">
                                                <div class="filter-toggle" (click)="toggleFilter('RejectionAmt')">
                                                  <span class="tnb-icon fa fa-caret-down" aria-hidden="true"></span> 
                                                </div>
                                                <div class="filter-options" [ngClass]="{'show-filter-options': isFilterOpen['RejectionAmt']}">
                                                  <div class="filter-option" (click)="applyFilter('RejectionAmt', 'Option 1')">Filter</div>
                                                  <div class="input-box" [class.show-input]="isFilterInputOpen['RejectionAmt']">
                                                    <input type="text" placeholder=" " (blur)="toggleFilterInput('RejectionAmt')">
                                                  </div>
                                                </div>
                                              </div> 
                                        </th>
                                        <th class="td_right"> Net Pur Qty
                                            <div class="filter-container">
                                                <div class="filter-toggle" (click)="toggleFilter('NetPurQty')">
                                                  <span class="tnb-icon fa fa-caret-down" aria-hidden="true"></span> 
                                                </div>
                                                <div class="filter-options" [ngClass]="{'show-filter-options': isFilterOpen['NetPurQty']}">
                                                  <div class="filter-option" (click)="applyFilter('NetPurQty', 'Option 1')">Filter</div>
                                                  <div class="input-box" [class.show-input]="isFilterInputOpen['NetPurQty']">
                                                    <input type="text" placeholder=" " (blur)="toggleFilterInput('NetPurQty')">
                                                  </div>
                                                </div>
                                              </div> 
                                        </th>
                                        <th class="td_right"> Net Pur Weight
                                           <div class="filter-container">
                                            <div class="filter-toggle" (click)="toggleFilter('NetPurWeight')">
                                              <span class="tnb-icon fa fa-caret-down" aria-hidden="true"></span> 
                                            </div>
                                            <div class="filter-options" [ngClass]="{'show-filter-options': isFilterOpen['NetPurWeight']}">
                                              <div class="filter-option" (click)="applyFilter('NetPurWeight', 'Option 1')">Filter</div>
                                              <div class="input-box" [class.show-input]="isFilterInputOpen['NetPurWeight']">
                                                <input type="text" placeholder=" " (blur)="toggleFilterInput('NetPurWeight')">
                                              </div>
                                            </div>
                                          </div>   
                                        </th>
                                        <th class="td_right"> Net Pur Amt
                                            <div class="filter-container">
                                                <div class="filter-toggle" (click)="toggleFilter('NetPurAmt')">
                                                  <span class="tnb-icon fa fa-caret-down" aria-hidden="true"></span> 
                                                </div>
                                                <div class="filter-options" [ngClass]="{'show-filter-options': isFilterOpen['NetPurAmt']}">
                                                  <div class="filter-option" (click)="applyFilter('NetPurAmt', 'Option 1')">Filter</div>
                                                  <div class="input-box" [class.show-input]="isFilterInputOpen['NetPurAmt']">
                                                    <input type="text" placeholder=" " (blur)="toggleFilterInput('NetPurAmt')">
                                                  </div>
                                                </div>
                                              </div>   
                                             </th>
                                            </tr>

                                </thead>
                                <tbody *ngIf="Tabledata1.length !=0">
                                    <tr *ngFor="let data of Tabledata1 ; let indexOfelement = index">
                                        <td class="td_left">{{data.AC_NAME}}</td>
                                        <td class="td_right">{{data.PURCHASE_QTY}}</td>
                                        <td class="td_right">{{data.PURCHASE_WEIGHT}}</td>
                                        <td class="td_right">{{data.PURCHASE_AMT}}</td>
                                        <td class="td_right">{{data.RATE_DIFF_AMOUNT}}</td>
                                        <td class="td_right">{{data.TOT_PURCH_AMT}}</td>
                                        <td class="td_right">{{data.REJECTION_QTY}}</td>
                                        <td class="td_right">{{data.REJECTION_WEIGHT}}</td>
                                        <td class="td_right">{{data.REJECTION_AMT}}</td>
                                        <td class="td_right">{{data.REJECTION_AMT}}</td>
                                        <td class="td_right">{{data.NET_PUR_QTY}}</td>
                                        <td class="td_right">{{data.NET_PUR_WT}}</td>
                                        <td class="td_right">{{data.NET_PUR_AMT}}</td>

                                    </tr>
                                <tbody *ngIf="Tabledata1.length ==0">
                                    <td>No Data</td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>