<div class="text-center">
  <i class="fa " [ngClass]="{'d-flex justify-content-center': isLoading1}" style="font-size:46px;"></i>

  <i class="fa loader" [ngClass]="{'fa-spin fa-spinner': isLoading1}" style="font-size:46px;"></i>
</div>
<div class="card" *ngIf="!isLoading1">
  <div class="card-header">
    <h5>Monthly Sales And Target</h5>
  </div>
  <form [formGroup]="angForm">
    <div class="card-block">
      <div class="row" style="margin: 1%;">
        <div class="col-sm-2" *ngIf="showBranch">
          <label>Select Branch <sub class="required"> * </sub></label>
        </div>
        <div class="col-sm-2" *ngIf="showBranch">
          <div class="form-group form-primary form-static-label">
            <span class="border-lable-flt">
              <ng-select id="BRANCH_NAME" bindValue="CODE" bindLabel="NAME" #BRANCH_NAME [(ngModel)]="selectedBrach"
                formControlName="BRANCH_NAME" (focus)="onFocus(BRANCH_NAME)" [selectOnTab]='true' [required]="BRANCH">
                <ng-option *ngFor="let values of branch" [value]="values">
                  {{values.NAME}}</ng-option>
              </ng-select>
            </span>
          </div>
        </div>
        <div class="col-sm-2">
          <label>Select Finacial year <sub class="required"> * </sub></label>
        </div>
        <div class="col-sm-2">
          <div class="form-group form-primary form-static-label">
            <span class="border-lable-flt">
              <ng-select id="YEAR_NAME" bindValue="DATEVALUE" bindLabel="DATEDESC" required #YEAR_NAME
                [(ngModel)]="selectedYear" formControlName="YEAR_NAME" (focus)="onFocus(YEAR_NAME)"
                [selectOnTab]='true'>
                <ng-option *ngFor="let values of finyear" [value]="values">
                  {{values.DATEDESC}}</ng-option>
              </ng-select>
            </span>
          </div>
        </div>
        <!-- </div> -->
        <div class="col-sm">
          <button class="btn btn-primary sm" [disabled]="isLoading" (click)="loadData()">Go <i class="fa"
              [ngClass]="{'fa-spin fa-spinner': isLoading}"></i></button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="row" id="r1" style="margin-top: 20px;margin-bottom: 20px;" *ngIf="showtable">
  <div class="col-12">
    <div class="table-responsive">
      <div class="table-fixed">
        <div class="card">
          <div class="card-block">
            <table class="table table-striped table-bordered table-hover compact">
              <thead style="position: sticky; top: 0; text-align: center;">
                <tr *ngIf="Headers.length !=0">
                  <th scope="col" *ngFor="let data of Headers" style="text-align: right;">{{data.VALUE}}
                  </th>
                </tr>
              </thead>
              <tbody *ngIf="Tabledata.length !=0">
                <tr *ngFor="let data of Tabledata;">
                  <td *ngFor="let datarec of data" style="text-align: right;">{{datarec != null ? datarec : 0}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<!-- <select class="form-control" style="width: 120px;
  height: 30px;
  font-size: 10px;
  margin-top: 3px;
  float: right;" (change)="handleClick($event, 'csv')">
  <option selected>Export Type </option>
  <option>CSV</option>
  <option>PDF</option>
</select> -->

<!-- <smart-table #table class="table-hover table-bordered" id="table" [dataSource]="dataSource" [sortMode]="sortMode" [paging]="true" [columns]="columns" [columnMenu]="true" [filtering]="true" [columnReorder]="true" [columnResize]="true" [columnSizeMode]="columnSizeMode" [selection]="true" [selectionMode]="'one'">

</smart-table> -->

<!-- <smart-table #table id="table" [dataSource]="dataSource" [grouping]="grouping" [keyboardNavigation]="keyboardNavigation"
  [columns]="columns"></smart-table> -->