<div class="text-center">
    <i class="fa " [ngClass]="{'d-flex justify-content-center': isLoading1}" style="font-size:46px;"></i>

    <i class="fa loader" [ngClass]="{'fa-spin fa-spinner': isLoading1}" style="font-size:46px;"></i>
</div>
<div class="card" *ngIf="!isLoading1">
    <div class="card-header">
        <h5>Schedule Adherence For The Month</h5>
    </div>
    <form [formGroup]="angForm">
        <div class="card-block">
            <div class="form-group row justify-content-md-center" style="margin: 1%;">
                <div class="col-sm-2" *ngIf="showBranch">
                    <label>Select Branch <sub class="required"> * </sub></label>
                </div>
                <div class="col-sm-2" *ngIf="showBranch">
                    <div class="form-group form-primary form-static-label">
                        <span class="border-lable-flt">
                            <ng-select id="BRANCH_NAME" bindValue="CODE" bindLabel="NAME" #BRANCH_NAME
                                [(ngModel)]="selectedBrach" formControlName="BRANCH_NAME" (focus)="onFocus(BRANCH_NAME)"
                                [selectOnTab]='true' [required]="BRANCH">
                                <ng-option *ngFor="let values of branch" [value]="values">
                                    {{values.NAME}}</ng-option>
                            </ng-select>
                        </span>
                    </div>
                </div>
                <!-- </div>
            <div class="form-group row justify-content-md-center" style="margin: 2%;"> -->
                <div class="col-sm-2">
                    <label>Select Finacial year <sub class="required">* </sub></label>
                </div>
                <div class="col-sm-2">
                    <div class="form-group form-primary form-static-label">
                        <span class="border-lable-flt">
                            <ng-select id="YEAR_NAME" bindValue="DATEVALUE" bindLabel="DATEDESC" required #YEAR_NAME
                                [(ngModel)]="selectedYear" formControlName="YEAR_NAME" (focus)="onFocus(YEAR_NAME)"
                                [selectOnTab]='true'>
                                <ng-option *ngFor="let values of finyear" [value]="values">
                                    {{values.DATEDESC}}</ng-option>
                            </ng-select>
                        </span>
                    </div>
                </div>

                <div class="col-sm-2">
                    <label>Select Month <sub class="required">* </sub></label>
                </div>
                <div class="col-sm-2">
                    <div class="form-group form-primary form-static-label">
                        <span class="border-lable-flt">
                            <ng-select id="MONTH_NAME" bindValue="DateValue" bindLabel="DateDesc" required #MONTH_NAME
                                [(ngModel)]=" selectedMonth" formControlName="MONTH_NAME" (focus)="onFocus(MONTH_NAME)"
                                [selectOnTab]='true'>
                                <ng-option *ngFor="let values of month" [value]="values">
                                    {{values.DateDesc}}</ng-option>
                            </ng-select>
                        </span>
                    </div>
                </div>

                <!-- </div>

        <div class="form-group row justify-content-md-center" style="margin: 2%;"> -->
                <div class="col-sm">
                    <button class="btn btn-primary sm" [disabled]="isLoading" (click)="loadData()">Go <i class="fa"
                            [ngClass]="{'fa-spin fa-spinner': isLoading}"></i></button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row" id="r1" style="margin-top: 20px;margin-bottom: 20px;" *ngIf="showtable">
    <div class="col-12">
        <div class="table-responsive">
            <div class="table-fixed">
                <div class="card">
                    <div class="card-block">
                        <table class="table table-striped table-bordered table-hover compact">
                            <thead style="position: sticky; top: 0; text-align: center;">
                                <tr>
                                    <th scope="col" class="td_right">Sr. No.</th>
                                    <th scope="col" class="td_left">Customer</th>
                                    <th scope="col" class="td_right">Sch. Qty</th>
                                    <th scope="col" class="td_right">Disp. Qty</th>
                                    <th scope="col" class="td_right">Adherence</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="Tabledata.length !=0">
                                <tr *ngFor="let data of Tabledata;let indexOfelement = index">
                                    <td class="td_right">{{indexOfelement + 1}}</td>
                                    <td class="td_left">{{data.AC_NAME}}</td>
                                    <td class="td_right">{{data.SCH_QTY}}</td>
                                    <td class="td_right">{{data.SALE_QTY}}</td>
                                    <td class="td_right">{{data.ADHERENCE}}</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="Tabledata.length ==0">
                                <td>No Data</td>
                            </tbody>
                        </table>
                        <!-- </smart-table> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>