
.filter-input-box {
    position: relative;
    display: inline-block;
}

.filter-input {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}

.filter-input-box:hover .filter-input {
    display: block;
}
