<div class="text-center">
  <i class="fa " [ngClass]="{'d-flex justify-content-center': isLoading1}" style="font-size:46px;"></i>
  <i class="fa loader" [ngClass]="{'fa-spin fa-spinner': isLoading1}" style="font-size:46px;"></i>
</div>

<div class="card" *ngIf="!isLoading1">
  <div class="card-header">
    <h5>Customer Receivable Chart</h5>
  </div>
  <form [formGroup]="angForm">
    <div class="card-block">
      <div class="row" style="margin: 1%;">
        <div class="col-sm-2" *ngIf="showBranch">
          <label>Select Branch <sub class="required">* </sub></label>
        </div>
        <div class="col-sm-2" *ngIf="showBranch">
          <div class="form-group form-primary form-static-label">
            <span class="border-lable-flt">
              <ng-select id="BRANCH_NAME" bindValue="CODE" bindLabel="NAME" #BRANCH_NAME [(ngModel)]="selectedBrach"
                formControlName="BRANCH_NAME" (focus)="onFocus(BRANCH_NAME)" [selectOnTab]='true' [required]="BRANCH">
                <ng-option *ngFor="let values of branch" [value]="values">
                  {{values.NAME}}</ng-option>
              </ng-select>
            </span>
          </div>
        </div>
        <div class="col-sm-2">
          <label>Select Dates <sub class="required">* </sub></label>
        </div>
        <div class="col-sm-2">
          <div class="form-group input-group">
            <span class="border-lable-flt">
              <input type="text" placeholder="dd/mm/yyyy" name="fdate" id="fdate" class="form-control"
                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'}" [(ngModel)]="fromdate" [maxDate]="maxDate" bsDatepicker
                formControlName="FROM" required style="max-width: 100px;">
            </span>
          </div>
          <div class="form-group form-primary form-static-label"
            *ngIf="angForm.controls['FROM'].invalid && (angForm.controls['FROM'].dirty || angForm.controls['FROM'].touched)"
            class="alert alert-danger">
            <div *ngIf="angForm.controls['FROM'].errors?.required">
              This field is required
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group input-group">
            <span class="border-lable-flt">
              <input type="text" placeholder="dd/mm/yyyy" name="tdate" id="tdate" class="form-control"
                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'}" [minDate]="fromdate" [(ngModel)]="todate" bsDatepicker
                formControlName="TO" required appTheme style="max-width: 100px;">
            </span>
          </div>
          <div class="form-group form-primary form-static-label"
            *ngIf="angForm.controls['TO'].invalid && (angForm.controls['TO'].dirty || angForm.controls['TO'].touched)"
            class="alert alert-danger">
            <div *ngIf="angForm.controls['TO'].errors?.required">
              This field is required
            </div>
          </div>
        </div>
        <div class="col-sm">
          <button class="btn btn-primary sm" [disabled]="isLoading" (click)="loadData()">Go <i class="fa"
              [ngClass]="{'fa-spin fa-spinner': isLoading}"></i></button>
        </div>
      </div>
    </div>
  </form>
</div>











<!-- <select class="form-control" style="width: 120px;
    height: 20px;
    font-size: 10px;
    margin-top: 2px;
    float: right;" (change)="handleClick($event, 'csv')">
  <option selected>Export Type </option>
  <option>CSV</option>
  <option>PDF</option>
</select> -->

<!-- <smart-table #table class="table-hover table-bordered" id="table" [dataSource]="dataSource" [sortMode]="sortMode" [paging]="true" [columns]="columns" [columnMenu]="true" [filtering]="true" [columnReorder]="true" [columnResize]="true" [columnSizeMode]="columnSizeMode" [selection]="true" [selectionMode]="'one'">

</smart-table> -->
<div class="form-group row justify-content-md-center" *ngIf="showtable">
  <div class="col-sm">
    <div class="card">
      <div class="card-block">
        <smart-table #table id="table" [dataSource]="dataSource" [grouping]="grouping"
          [columns]="columns"></smart-table>
      </div>
    </div>
  </div>
</div>