/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';

/* You can add global styles to this file, and also import other style files */
.modal-holder {
  animation-name: example;
  animation-duration: 0.3s;
}

@keyframes example {
  0% {
    transform: scale(0.5)
  }

  100% {
    transform: scale(1)
  }
}

.carousel-item {
  transition: opacity 0.7s ease !important;
  position: absolute !important;
  display: block !important;
  opacity: 0;
}

.carousel-item.active {
  position: relative !important;
  opacity: 1;
}

.btn-primary {
  background-image: linear-gradient(to bottom, #93b5d2 5%, #1e3567 100%) !important;
}

.card-header {
  background-image: -webkit-linear-gradient(top, #dae7f6, #cddef3 45%, #abc7ec 46%, #abc7ec 50%, #b8cfee 51%, #cbddf3);
}

.card-title {
  font-size: 15px;
  // margin: 2% 0 2% 20px !important;
  font-weight: 600;
}

.card-header {
 padding: 0;
 height: 48px;
}

thead{
  background-image: -webkit-linear-gradient(top, #dae7f6, #cddef3 45%, #abc7ec 46%, #abc7ec 50%, #b8cfee 51%, #cbddf3);
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tfoot{
  background-color: #f1f2f4;
}