/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';

/* You can add global styles to this file, and also import other style files */
.modal-holder {
  animation-name: example;
  animation-duration: 0.3s;
}

@keyframes example {
  0% {
    transform: scale(0.5)
  }

  100% {
    transform: scale(1)
  }
}

.c .carousel-item {
  transition: opacity 0.7s ease !important;
  position: absolute !important;
  display: block !important;
  opacity: 0;
}

.carousel-item.active {
  position: relative !important;
  opacity: 1;
}

.btn-primary {
  background-image: linear-gradient(to bottom, #93b5d2 5%, #1e3567 100%) !important;
}

.card-title {
  font-size: 15px;
  // margin: 2% 0 2% 20px !important;
  font-weight: 600;
}

.card-header {
  padding: 0;
  height: 25px;
  background-image: -webkit-linear-gradient(top, #dae7f6, #cddef3 45%, #abc7ec 46%, #abc7ec 50%, #b8cfee 51%, #cbddf3);

}

thead {
  // background-image: -webkit-linear-gradient(top, #dae7f6, #cddef3 45%, #abc7ec 46%, #abc7ec 50%, #b8cfee 51%, #cbddf3);
  background: #b8cfee !important;
  margin: -1% !important;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

// .Ahead th{
//   background: #b8cfee !important;
//   margin: -1% !important;
// }
select {
  width: 25px;

}



tfoot {
  background-color: #f1f2f4;
}

.card {
  margin-top: -30px !important;
}

.card-body {
  flex: 1 1 auto;
  padding: 3px !important;
  color: var(--bs-card-color);

}

.table> :not(caption)>*>* {
  padding: 5px !important;
}


.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 45px !important;
  padding: 0 calc(24px * 0.5) 0 0;
}

body[data-sidebar=dark] .navbar-brand-box {
  background: #2a3042;
  height: 60px !important;
  // width:9000px

}

.ng-select .ng-select-container {
  color: #333;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  min-height: 30px !important;
  align-items: center;
}

.ng-select.ng-select-single .ng-select-container {
  height: 30px !important;
}

.page-content {
  padding: calc(34px + 24px) calc(14px * 0.75) 60px calc(16px * 0.75) !important;

}

.required {
  color: red;
  font-size: 17px;
}

.vertical-menu {
  width: 250px;
  z-index: 1001;
  background: #ffffff;
  bottom: 0;
  margin-top: 0;
  position: fixed;
  top: 48px !important;
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
}

h5,
.h5 {
  font-size: 12px !important;
  font-weight: 700 !important;
  color: #04408C !important;
  text-align: center !important;
  line-height: 0.2 !important;
}


.form-control {
  display: block;
  width: 100%;
  padding: -0.53rem !important;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-gray-700);
  --bs-table-hover-color: white;
  background-color: var(--bs-custom-white);
  background-clip: padding-box;
  border: 1px solid var(--bs-input-border-color);
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.table-fixed {
  display: block;
  height: 450px;
}



table tr.highlight {
  background-color: #dee2e6 !important;
  color: black;
  font-weight: bold;
}

table td.newhighlight {
  font-size: 90%;
}

.bold {
  font-weight: bold;
}

.td_right {
  text-align: right;
}

.td_left {
  text-align: left;
}

th,
td {
  vertical-align: middle;
}



// body[data-sidebar=dark].vertical-collpsed .vertical-menu #sidebar-menu > ul ul {
//   background-color: #2a3042;
//   width: 200000px;
// }

.table {

  --bs-table-hover-bg: #dfe6ec !important;
  table-layout: auto;
  width: 100%;
  white-space: nowrap;

}

.marginTable {
  margin: 25px !important;
  //position: fixed !important;
}

html {
  margin-left: 3px;
  margin-right: 3px;
  overflow: auto;
  overflow-x: hidden;
  background: url(./assets/images/bg.jpg) repeat-x scroll left bottom transparent;
  border-style: solid none solid;
  border-color: #93B5D2;
  border-width: 1px medium 1px;
  // position: relative !important;
  //   z-index: 0 !important;
}

.ng-select .ng-clear-wrapper {
  display: none !important;

}

.ng-dropdown-panel .scroll-host {

  position: fixed !important;
  width: fit-content !important;

}


.card {

  --bs-card-bg: #ffffff !important;

}

body {
  overflow: hidden;
  background-color: white !important;
}

.ng-select {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: fit-content !important;
}

.loader {
  position: absolute;
  top: 45%;
  left: 55%;
  transform: translate(-50%, -50%);
}

// table {
//   //  caption-side: bottom !important;
//   //  border-collapse: collapse !important;
//   //  top: 65% !important;
//   //  padding: 10px !important;
//   margin: 25px !important;
// }
.filter-container {
  display: inline-block !important;
}

.filter-label {
  font-weight: bold !important;
  margin-right: 10px !important;
}

.filter-toggle {
  cursor: pointer !important;
  display: inline-block !important;
  padding: 0 5px !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
}

.filter-icon {
  display: inline-block !important;
  vertical-align: middle !important;
  margin-left: 5px !important;
  transform: rotate(0deg) !important;
  transition: transform 0.2s ease !important;
}

.filter-options {
  display: none !important;
  position: absolute !important;
  background-color: #fff !important;
  border: 1px solid #ccc !important;
  border-top: none !important;
  border-radius: 0 0 4px 4px !important;
  z-index: 1 !important;
}

.show-filter-options {
  display: block !important;
}

.filter-option {
  padding: 4px !important;
  cursor: pointer !important;
  transition: background-color 0.2s ease !important;
  width: 100px !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  display: inline-block !important;


}

.filter-option input {
  float: left !important;
}


// .filter-option:hover {
//   background-color: #f0f0f0!important;
// }

.input-box {
  display: inline-block !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  margin-top: 2px !important;
  padding: 3px !important;

}

.show-input {
  display: inline-block !important;
}

.search-container {
  display: flex !important;
  align-items: center !important;
  background-color: #f2f2f2 !important;
  text-align: left !important;

}

.search-container input {
  color: black !important;
  padding: 1px 3px 1px 3px !important;
  background: white repeat-x 0 0 !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #b5b8c8 !important;
  width: 300px !important;
}

h5 {
  font-size: 15px;
}