/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';

/* You can add global styles to this file, and also import other style files */
.modal-holder {
  animation-name: example;
  animation-duration: 0.3s;
}

@keyframes example {
  0% {
    transform: scale(0.5)
  }

  100% {
    transform: scale(1)
  }
}

.carousel-item {
  transition: opacity 0.7s ease !important;
  position: absolute !important;
  display: block !important;
  opacity: 0;
}

.carousel-item.active {
  position: relative !important;
  opacity: 1;
}

.btn-primary {
  background-image: linear-gradient(to bottom, #93b5d2 5%, #1e3567 100%) !important;
}

.card-title {
  font-size: 15px;
  // margin: 2% 0 2% 20px !important;
  font-weight: 600;
}

.card-header {
  padding: 0;
  height: 25px;
  background-image: -webkit-linear-gradient(top, #dae7f6, #cddef3 45%, #abc7ec 46%, #abc7ec 50%, #b8cfee 51%, #cbddf3);

}

thead {
  background-image: -webkit-linear-gradient(top, #dae7f6, #cddef3 45%, #abc7ec 46%, #abc7ec 50%, #b8cfee 51%, #cbddf3);
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}





tfoot {
  background-color: black;
}

.card {
  margin-top: -30px !important;
}

.card-body {
  flex: 1 1 auto;
  padding: 3px !important;

  color: white(--bs-card-color);
}

.table> :not(caption)>*>* {
  padding: 5px !important;
}


.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 45px !important;
  padding: 0 calc(24px * 0.5) 0 0;

}

body[data-sidebar=dark] .navbar-brand-box {
  background: white !important;
  height: 60px !important;

  // width:9000px

}

.ng-select .ng-select-container {
  color: white !important;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  min-height: 30px !important;
  align-items: center;

}

.ng-select.ng-select-single .ng-select-container {
  height: 30px !important;
  width: 100px;
  background-color: white;
}

.page-content {
  padding: calc(34px + 24px) calc(14px * 0.75) 60px calc(16px * 0.75) !important;
}

.required {
  color: red;
  font-size: 17px;
}

.vertical-menu {
  width: 250px !important;
  z-index: 1001;
  background: white !important;
  bottom: 0;
  margin-top: 0;
  position: fixed;
  top: 48px !important;
  box-shadow: white !important;
}

//<<<<<<< Updated upstream
h5,
.h5 {
  font-size: 12px !important;
  font-weight: 700 !important;
  color: #04408C !important;
  text-align: center !important;
  line-height: 0.2 !important;
}

.form-control {
  display: block;
  width: 100%;
  padding: -0.53rem !important;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-gray-700);
  --bs-table-hover-color: white;
  color: white(--bs-gray-700);
  background-color: var(--bs-custom-white);
  background-clip: padding-box;
  border: 1px solid var(--bs-input-border-color);
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.table-fixed {
  display: block;
  height: 500px;
  overflow: auto;
}

table tr.highlight {
  background-color: #dee2e6 !important;
  color: black;
  font-weight: bold;
}

table td.newhighlight {
  font-size: 90%;
}

.bold {
  font-weight: bold;
}


.td_right {
  text-align: right;
}

.td_left {
  text-align: left;

}



body {
  overflow: hidden;
}


.layout-wrapper {
  max-width: 100px;

}

body[data-sidebar=dark].vertical-collpsed .vertical-menu #sidebar-menu>ul ul {
  background-color: white !important;
  width: 350px !important;
}

.is-parent {
  width: 420px !important;
}

body[data-sidebar=dark] #sidebar-menu ul li a {
  color: black !important;
}

body[data-sidebar=dark].vertical-collpsed .vertical-menu #sidebar-menu>ul>li:hover>a {
  background: white !important;
}

body[data-sidebar=dark].vertical-collpsed .vertical-menu #sidebar-menu ul li.mm-active .active {
  color: blue !important;

  .td_left {
    text-align: left;
  }
}


body[data-sidebar=dark].vertical-collpsed .vertical-menu #sidebar-menu>ul ul {
  background-color: #2a3042;
  width: 1000px !important
}

.table {

  --bs-table-hover-bg: #a7a3a3 !important;

}

html {
  margin-left: 3px;
  margin-right: 3px;
  overflow: auto;
  overflow-x: hidden;
  background: url(./assets/images/bg.jpg) repeat-x scroll left bottom transparent;
  border-style: solid none solid;
  border-color: #93B5D2;
  border-width: 1px medium 1px;
}


body {
  overflow: hidden;
  //>>>>>> Stashed changes
}

.simplebar-content-wrapper {
  background-color: white;
}

body[data-sidebar=dark] #sidebar-menu ul li a {
  color: black !important;
}


.footer {
  background-color: #c7dcee !important;
}